.adminContainer{
    height: 100%; 
    min-height: 100vh;
    padding-bottom: 2%;
    background-color: #f1f2f3;
}
.adminContent{
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 90px);
}