.feedbackadmin{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 124px);
}
.feedbackContainer{
    width: 50%;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 55px 55px 33px 55px;
    font-family: "Poppins", sans-serif;
    box-shadow: 0 5px 10px 0px rgb(0 0 0 / 10%);
}