.reportContainer{
    width: 82%;
    padding: 15px;
    margin-top:2%;
    margin-left: 12%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.137);
}
.datepicker{
    display: flex;
    flex-wrap: wrap;
    margin: 5px 20px;
    align-items: center;
    justify-content: space-between;
}
.datepicker input{
    border: none;
    outline: none;
    margin: 0px 5px;
    padding: 5px 10px;
    font-weight: bolder;
    background-color: rgb(240, 240, 240);
    border-bottom: 2px solid #49321c;
}
.datepicker h3{
    font-family: Arial, Helvetica, sans-serif;
}
.datepicker .reportBtn{
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    color: #49321c;
    padding: 7px 10px;
    font-weight: bolder;
    letter-spacing: 1px;
    border-radius: 10px;
    text-transform: capitalize;
    border: 3px solid #49321c;
    background-color: transparent;
}
.datepicker .reportBtn:hover{
    background-color: rgba(0, 0, 0, 0.089);
}
.datepicker .reportBtn:active{
    box-shadow: none;
}
.reportTable {
    width: 100%;
    color: white;
    background-color: transparent !important;
    font-family:"Poppins", sans-serif !important ;
}

.reportTable tbody tr {
    transition: all .2s ease-in;
}

/* .reportTable thead tr th, */
.reportTable tbody tr td {
    padding: 3px;
    color: #49321c;
    border-radius: 5px;
    text-align: center;
    font-weight: bolder;
    border:1px solid rgba(73, 50, 28, 0.467);
    background-color: rgba(255, 255, 255, 0.849);
    border-right:1px solid rgba(73, 50, 28, 0.467);
    border-bottom:1px solid rgba(73, 50, 28, 0.467);
}

.reportTable tbody tr:hover {
    opacity: 0.7;
    cursor: pointer;
    background-color: rgba(73, 50, 28, 0.534);
}

.reportTableHeader th{
    color: #fff;
    padding: 10px;
    font-weight: 600;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
    background-color: #49321c;
}

@media screen and (max-width: 768px) {
    .reportContainer{
        width: 100% !important;
        margin: 20px !important;
        margin-bottom: 70px !important;
    }
}